{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'structure/css/approval.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'structure/css/acrylic.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'structure/css/buttons.css' %}" />
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
</head>

<body>
	<div id="main-wrapper-content" class="acrylic shadow">

		<div id="buttons-wrapper">
			<div>
				<a role="button" href="/" class="button white">Home</a>
			</div>
			<div id="headline">
				<h1>{{ title }}</h1>
			</div>
			<div id="build-button">
				<a role="button" href="addTags" class="button orange">Add Tags</a>
			</div>
		</div>

		<form action="" method="post">
			{% csrf_token %}
			<table class="table">
				<thead>
					<tr>
						<th>Select</th>
						<th>Never add this?</th>
					<!--	<th>Adgroup ID</th>
						<th>Campaign ID</th>-->
						<th>Query</th>
						<th>Tags</th>
					</tr>
				</thead>
				{{formset.management_form}}
				{% bootstrap_formset_errors formset %}
				<tbody>
					{% for entry in formset %}
					<tr>
						<td>{{ entry.checkbox }}</td>
						<td>{{ entry.checkbox_negative }}</td>
						{{ entry.agId }}
						{{ entry.campaignId }}
						{{ entry.finalUrl}}
						<td>{{ entry.name }}</td>
						<td>{{ entry.tags }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
		
		<div id="form-buttons">
				<a id="go-button" class="button green" onclick="$('form').trigger('submit');">Next</a>
		</div>
	</div>
</body>